* {
	font-family: "Roboto", serif;
}

body {
	background-color: #0B1119;
	color: white;
}

docOutline {
	position: fixed;
	left: 0;
	top: 50px;
	bottom: 0;
	width: 300px;
	overflow-y: scroll;
	z-index: 500;
	background-color: #12202E;
}

docOutline ul {
	list-style: none;
}

docOutline ul li {
	padding-left: 5px;
	border-left: 1px solid #1F3643;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #1F3643;
	border-top: 1px solid #1F3643;
}

docOutline ul li:hover {
	text-decoration: underline;
	background-color: #243A4F;
}

docs {
	position: fixed;
	left: 300px;
	right: 0;
	top: 50px;
	bottom: 0;
	overflow-y: scroll;
	padding: 20px;
}

block {
	display: none;
}

code {
	background-color: #202020;
	padding: 3px;
	border-radius: 5px;
}
.list1 {
	cursor: pointer;
}
.list2 {
	cursor: pointer;
	margin-left: 20px;
}

.list3 {
	cursor: pointer;
	margin-left: 40px;
}
.list4 {
	cursor: pointer;
	margin-left: 60px;
}
.list5 {
	cursor: pointer;
	margin-left: 80px;
}
.list6 {
	cursor: pointer;
	margin-left: 100px;
}

::-webkit-scrollbar {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: #1E2227;
	border: 2px #28374A solid;
	border-radius: 5px;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #0B1119;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
	z-index: 1000;
	height: 50px;
	display: flex;
	flex-direction: row;
}

#navbar img {

	margin-left: 5px;
	margin-top: 5px;
}

#navbar span {
	margin-top: 16px;
	margin-left: 5px;
}
